<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/library.css">
    <link rel="icon" href="/static/favicon.ico">
</header>
<body>
    <nav class="navbar navbar-expand-lg fixed-top ">  
        <div class="navbar-brand">Admin</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">     
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="dashboard" href="/admin/dashboard">Dashboard</a>        
                </li>  
                <li class="nav-item">
                    <a class="nav-link" data-value="book" href="/admin/book">Book</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link active" data-value="library" href="/admin/library">Library</a>
                </li>  
                <li class="nav-item"> 
                    <a class="nav-link" data-value="logout" href="/admin/logout">Logout</a>         
                </li>   
            </ul> 
       </div>
    </nav>
    <div id="content-container">
        <form id="library-form" method="POST">
            <div class="form-group">
                <label for="library-name">Name</label>
                <input type="text" class="form-control" id="library-name" required="true">
            </div>
            <div class="form-group">
                <label for="library-location">Location</label>
                <input type="text" class="form-control" id="library-location" required="true">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/library.js"></script>
</body>
</html>