.navbar { 
    background:#222538;
}

.nav-link { 
    color: #f4f4f4; 
    cursor: pointer;
}

.active {
    background: #f4f4f4; 
    color: #222538; 
}

.navbar-brand { 
    color: #f4f4f4; 
}

.nav-link{ 
    margin-right: 1em !important;
}

.nav-link:hover{ 
    background: #f4f4f4; 
    color: #222538; 
}

.navbar-collapse{ 
    justify-content: flex-end;
}

.navbar-toggler{  
    background:#fff !important;
}

#content-container {
    margin-top: 7.5%;
    margin-left: 5%;
}

.nav-link.content-tab {
    background: #f4f4f4; 
    color: #222538; 
}

.tab-pane {
    margin-top: 3%;
}

.container {
    margin-left: 0px;
}

#download-button {
    margin-top: 2%;
}
#addbook-button {
    margin-top: 2%;
}